<div class="container">
  <div class="row">
    <div class="col-12">
      <div [hidden]="submitted">
        <h2>Ajouter un rendez-vous</h2>
        <form (ngSubmit)="onCreateRdv()" #addRdv="ngForm">
          <div class="mb-3">
            <label for="patientName" class="form-label">Nom du patient</label>
            <input class="form-control" id="patientName" required type="text" name="patientName" #patientName="ngModel"
                   [(ngModel)]="rdv.patientName">
            <div [hidden]="patientName.valid || patientName.pristine" class="alert alert-danger">
              Le nom du patient est obligatoire
            </div>
          </div>
          <div class="mb-3">
            <label for="patientEmail" class="form-label">Email du patient</label>
            <input class="form-control" id="patientEmail" required type="text" name="patientEmail" #patientEmail="ngModel"
                   [(ngModel)]="rdv.patientEmail">
            <div [hidden]="patientEmail.valid || patientEmail.pristine" class="alert alert-danger">
              L'email du patient est obligatoire
            </div>
          </div>
          <div class="mb-3">
            <label for="patientPhone" class="form-label">Téléphone du patient</label>
            <input class="form-control" id="patientPhone" required type="text" name="patientPhone" #patientPhone="ngModel"
                   [(ngModel)]="rdv.patientPhone">
            <div [hidden]="patientPhone.valid || patientPhone.pristine" class="alert alert-danger">
              Le numéro de téléphone du patient est obligatoire
            </div>
          </div>
          <div class="mb-3">
            <label for="reasonRdv" class="form-label">Raison de la visite</label>
            <input class="form-control" id="reasonRdv" required type="text" name="reasonRdv" #reasonRdv="ngModel"
                   [(ngModel)]="rdv.reasonRdv">
            <div [hidden]="reasonRdv.valid || reasonRdv.pristine" class="alert alert-danger">
              La raison de la visite est obligatoire
            </div>
          </div>
          <div class="mb-3">
            <label for="dateRdv" class="form-label">Date du rendez-vous</label>
            <input class="form-control" type="date" id="dateRdv" name="dateRdv" required [(ngModel)]="rdv.dateRdv">
          </div>
          <div class="mb-3">
            <button class="btn btn-success" [disabled]="!addRdv.form.valid">Envoyer le formulaire</button>
          </div>
        </form>
      </div>
      <div [hidden]="!submitted">
        <h2>Vous avez envoyé ces informations</h2>
        <div>
          <p><span class="fw-bold">Nom du patient: </span>{{ rdv.patientName }}</p>
        </div>
        <div>
          <p><span class="fw-bold">Email du patient: </span>{{ rdv.patientEmail }}</p>
        </div>
        <div>
          <p><span class="fw-bold">Téléphone du patient: </span>{{ rdv.patientPhone }}</p>
        </div>
        <div>
          <p><span class="fw-bold">Raison de la visite: </span>{{ rdv.reasonRdv }}</p>
        </div>
        <div>
          <p><span class="fw-bold">Date du rendez-vous: </span>{{ rdv.dateRdv }}</p>
        </div>
        <button class="btn btn-primary" (click)="submitted=false">Edit</button>
      </div>
    </div>
  </div>
</div>
