<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Gestion des patients</h2>
      <nz-table #basicTable [nzData]="patientList">
        <thead>
        <tr>
          <th>Nom / Prénom</th>
          <th>Anniversaire</th>
          <th>Email</th>
          <th>Téléphone</th>
          <th>Adresse</th>
          <th>Sexe</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.lastname}} {{data.firstname}}</td>
          <td>{{data.birth}}</td>
          <td>{{data.email}}</td>
          <td>{{data.phone}}</td>
          <td>{{data.address}}</td>
          <td>{{data.gender}}</td>
          <td>
            <a>Editer - </a>
            <a>Supprimer</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
