<div class="container">
  <div class="row">
    <div class="col-12">
      <div [hidden]="submitted">
        <h2>Ajouter un médecin</h2>
        <form (ngSubmit)="onCreateMedecin()" #addMedecin="ngForm">
          <div class="mb-3">
            <label for="firstname" class="form-label">Prénom</label>
            <input class="form-control" id="firstname" required type="text" name="firstname"  #firstname="ngModel" [(ngModel)]="medecin.firstname">
            <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
              Le prénom est obligatoire
            </div>
          </div>
          <div class="mb-3">
            <label for="lastname" class="form-label">Nom</label>
            <input class="form-control" id="lastname" required type="text" name="lastname" #lastname="ngModel" [(ngModel)]="medecin.lastname">
            <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
              Le nom de famille est obligatoire
            </div>
          </div>
          <div class="mb-3">
            <label for="profession" class="form-label">Profession</label>
            <select class="form-select" id="profession" name="profession" required [(ngModel)]="medecin.profession">
              <option *ngFor="let prof of professions" [value]="prof">{{prof}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input class="form-control" id="email" type="email" name="email" #email="ngModel" required [(ngModel)]="medecin.email">
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
              L'email est obligatoire
            </div>
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Numéro de téléphone</label>
            <input class="form-control" id="phone" type="tel" name="phone" [(ngModel)]="medecin.phone">
          </div>
          <div class="mb-3">
            <button class="btn btn-success" [disabled]="!addMedecin.form.valid">Envoyer le formulaire</button>
          </div>
        </form>
      </div>
      <div [hidden]="!submitted">
        <h2>Vous avez envoyé ces informations</h2>
        <div>
            <p><span class="fw-bold">Prénom: </span>{{ medecin.firstname }}</p>
        </div>
        <div>
          <p><span class="fw-bold">Nom: </span>{{ medecin.lastname }}</p>
        </div>
        <div>
          <p><span class="fw-bold">Profession: </span>{{ medecin.profession }}</p>
        </div>
        <div>
          <p><span class="fw-bold">Email: </span>{{ medecin.email }}</p>
        </div>
        <div>
          <p><span class="fw-bold">Téléphone: </span>{{ medecin.phone }}</p>
        </div>
        <button class="btn btn-primary" (click)="submitted=false">Edit</button>
      </div>
    </div>
  </div>
</div>
